@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: #000000;
    position: relative;
}

@keyframes text {
    to{
        background-position: 200%;
    }
}

/* container */
.container{
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* container end */


/* video */

video{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    z-index: -10000;
}

/* video end */




/* header */
header{
    position: fixed;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 10px white;
    user-select: none;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
#nav{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_left a{
    text-decoration: none;
}
.navbar_left h1{
    font-family: "Momo Trust Display", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text 5s linear infinite;
    cursor: pointer;
    transition: 1s ease;
}
.navbar_left h1:hover{
    transition: 1s ease;
    transform: scale(1.1);
    text-shadow: -10px 10px 10px rgba(179, 102, 255, 0.3);
}
.navbar_right #navbar_list{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    list-style: none;
    text-decoration: none;
    backdrop-filter: blur(15px);
}
.navbar_right li a{
    font-family: "Momo Trust Display", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text 5s linear infinite;
    position: relative;
}
.navbar_right a::before{
    content: '';
    width: 100%;
    border: 1px solid #8f68ff;
    position: absolute;
    bottom: -5px;
    transition: 0.5s ease;
    scale: 0;
}
.navbar_right a:hover::before{
    scale: 1;
    transition: 0.5s ease;
}

#menu_btn{
    display: none;
    color: white;
}
#x_btn{
    color: white;
    display: none;
    cursor: pointer;
}
#menu_btn:active, #x_btn:active{
    background: rgba(0, 255, 255, 0.452);
}
/* header */



/* header media */

@media screen and (max-width: 730px) {
    .navbar_right #navbar_list {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 150px;
        height: 100vh;
        background: rgba(255, 255, 255, 0.10);
        top: 0px;
        right: -1000px;
        padding-top: 30px;
        row-gap: 30px;
        z-index: 10;
        transition: 0.6s ease;
    }
    #menu_btn{
        display: block;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background: none;
        width: 35px;
        height: 35px;
        cursor: pointer;
    }
    #menu_btn img{
        width: 100%;
        height: 100%;
    }
    #x_btn{
        display: block;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background: none;
        width: 30px;
        height: 30px;
    }
    #x_btn img{
        width: 100%;
        height: 100%;
    }
}

/* header media end */

/* main */

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-section{
    margin-top: 80px;
}
.home-section .home-text{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.home-section h2{
    font-family: sans-serif;
    font-size: 2.5rem;
    color: white;
    font-weight: 600;    
}
.home-section h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-section h1{
    font-size: 4.5rem;
    font-family: "Indie Flower", sans-serif;
    font-weight: 900;
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text 5s linear infinite;
}
.home-section h3{
    font-family: sans-serif;
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
}
.home-section h3 span{
    color: #c366ff;
}
.home-section p{
    font-size: 20px;
    font-family: sans-serif;
    color: #cccccca9;
}
.apps{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.icons{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}

.icons:active{
    transform: scale(1.0);
}
.github{
    background: linear-gradient(to right, #10171f, #06171a, #081127, #121c2c, #232930);
    background-size: 200%;    
    animation: text 5s linear infinite;
}
.telegram{
    background: linear-gradient(to right, #72b4ff, #68e8ff, #487bff, #68a4ff, #72afff);
    background-size: 200%;    
    animation: text 5s linear infinite;
}

.instagram{
    background: linear-gradient(to right, #f66af8, #b92bf1, #e649f5, #ec39ec, #d744da);
    background-size: 200%;    
    animation: text 5s linear infinite;
}

.whatsApp{
    background: linear-gradient(to right, #84ffa9, #44ff5d, #23f78d, #2cf787, #3eee2e);
    background-size: 200%;    
    animation: text 5s linear infinite;
}

/* main end */
