@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background: #000000;
    position: relative;
}

/* container */
.container{
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* container end */


/* video */

video{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    z-index: -100000;
}

/* video end */




/* header */
header{
    position: fixed;
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 10px white;
    user-select: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 50px;
    position: relative;
}
#nav{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar_left h1{
    font-family: "Momo Trust Display", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: logo_text 5s linear infinite;
    cursor: pointer;
    transition: 1s ease;
}
.navbar_left h1:hover{
    transition: 1s ease;
    transform: scale(1.1);
    text-shadow: -10px 10px 10px rgba(97, 95, 95, 0.425);
}
@keyframes logo_text {
    to{
        background-position: 200%;
    }
}
.navbar_right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar_right ul{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    list-style: none;
    text-decoration: none;
}
.navbar_right li a{
    font-family: "Momo Trust Display", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: navbar_text 5s linear infinite;
    position: relative;
}
@keyframes navbar_text {
    to{
        background-position: 200%;
    }
}
.navbar_right a::before{
    content: '';
    width: 100%;
    border: 1px solid #8f68ff;
    position: absolute;
    bottom: -5px;
    transition: 0.5s ease;
    scale: 0;
}
.navbar_right a:hover::before{
    scale: 1;
    transition: 0.5s ease;
}

/* header */



/* header media */

@media screen and (max-width: 730px) {
    .navbar_right #list{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 150px;
        height: 100vh;
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(2px);
        box-shadow: 0px 0px 10px white;
        top: 80px;
        right: 0;
        padding-top: 30px;
        row-gap: 30px;
    }
}

/* header media end */