@font-face {
    font-family: 'LogoFont';
    src: url(./fonts/Momo_Trust_Display/MomoTrustDisplay-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'NameFont';
    src: url(./fonts/Indie_Flower/IndieFlower-Regular.ttf) format('truetype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: #000000;
    position: relative;
}

.container{
    margin: 0 auto;
    max-width: 1300px;
}


video{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    z-index: -10000;
}

@keyframes text {
    to{
        background-position: 200%;
    }
}

/* navbar ------------------------------- */

header{
    position: fixed;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 10px white;
    user-select: none;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
#nav{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_left a{
    text-decoration: none;
}
.navbar_left h1{
    font-family: "LogoFont";
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text 5s linear infinite;
    cursor: pointer;
    transition: 1s ease;
}
.navbar_left h1:hover{
    transition: 1s ease;
    transform: scale(1.1);
    text-shadow: -10px 10px 10px rgba(179, 102, 255, 0.3);
}
.navbar_right #navbar_list{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    list-style: none;
    text-decoration: none;
    backdrop-filter: blur(15px);
}
.navbar_right li a{
    font-family: "LogoFont";
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text 5s linear infinite;
    position: relative;
}
.navbar_right a::before{
    content: '';
    width: 100%;
    border: 1px solid #8f68ff;
    position: absolute;
    bottom: -5px;
    transition: 0.5s ease;
    scale: 0;
}
.navbar_right a:hover::before{
    scale: 1;
    transition: 0.5s ease;
}

#menu_btn{
    display: none;
    color: white;
}
#x_btn{
    color: white;
    display: none;
    cursor: pointer;
}
#menu_btn:active, #x_btn:active{
    background: rgba(0, 255, 255, 0.452);
}




@media screen and (max-width: 730px) {
    .navbar_right #navbar_list {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 150px;
        height: 100vh;
        background: rgba(255, 255, 255, 0.10);
        top: 0px;
        right: -1000px;
        padding-top: 30px;
        row-gap: 30px;
        z-index: 10;
        transition: 0.6s ease;
    }
    #menu_btn{
        display: block;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background: none;
        width: 35px;
        height: 35px;
        cursor: pointer;
    }
    #menu_btn img{
        width: 100%;
        height: 100%;
    }
    #x_btn{
        display: block;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background: none;
        width: 30px;
        height: 30px;
    }
    #x_btn img{
        width: 100%;
        height: 100%;
    }
}

/* navbar end------------------------------- */



main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* home------------------------------------------- */



.home-section{
    width: 90%;
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-section .home-text{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.home-section h2{
    font-family: sans-serif;
    font-size: 2.5rem;
    color: white;
    font-weight: 600;    
}
.home-section h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-section h1{
    font-size: 4.5rem;
    font-family: "NameFont";
    font-weight: 900;
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text 5s linear infinite;
}
.home-section h3{
    font-family: sans-serif;
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
}
.home-section h3 span{
    font-size: 3rem;
    color: aqua;
    text-shadow: 0px 0px 20px aqua;
}
.home-section p{
    margin-top: 20px;
    font-size: 1.2;
    font-family: sans-serif;
    color: #cccccca9;
}
.apps{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}
.icons{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}

.icons:hover{
    transform: scale(1.1);
}
.icons:active{
    transform: scale(1.0);
}
.github{
    background: linear-gradient(to right, #10171f, #06171a, #081127, #121c2c, #232930);
    background-size: 200%;    
    animation: text 5s linear infinite;
    box-shadow: 0px 0px 20px rgb(83, 83, 83);
}
.github:active{
    background: rgb(0, 0, 0);
    transition: 0s;
}
.telegram{
    background: linear-gradient(to right, #68e8ff,#72b4ff, #789dfc, #68a4ff, #64a7ff);
    background-size: 200%;    
    animation: text 5s linear infinite;
    box-shadow: 0px 0px 20px #3b90ff;
}
.telegram:active{
    background: #3b90ff;
    transition: 0s;
}
.instagram{
    background: linear-gradient(to right, #f66af8, #b92bf1, #e649f5, #ec39ec, #d744da);
    background-size: 200%;    
    animation: text 5s linear infinite;
    box-shadow: 0px 0px 20px rgb(255, 4, 234);
}
.instagram:active{
    background: rgb(255, 4, 234);
    transition: 0s;
}
.whatsApp{
    background: linear-gradient(to right, #84ffa9, #44ff5d, #23f78d, #2cf787, #3eee2e);
    background-size: 200%;
    box-shadow: 0px 0px 20px rgb(0, 255, 0);
    animation: text 5s linear infinite;
}
.whatsApp:active{
    background: rgb(0, 255, 0);
    transition: 0s;
}

.home-section #download-cv{
    margin-top: 40px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: rgb(200, 82, 255);
    color: #ffffff;
    outline: none;
    font-size: 20px;
    box-shadow: 0px 0px 20px rgb(200, 82, 255);
    cursor: pointer;
    transition: 0.5s;
    font-weight: 700;
}
#download-cv:hover{
    transform: scale(1.1);
    box-shadow: -10px 5px 15px rgba(200, 82, 255, 0.534);
}
#download-cv:active{
    transform: scale(1.0);
    background: rgb(174, 0, 255);
    transition: 0s;
}

.my-img{
    width: 450px;
    height: 450px;
    border-radius: 70% 30% 31% 69% / 76% 71% 29% 24%;
    overflow: hidden;
}
.my-img img{
    width: 100%;
    height: 100%;
    background-position: center;
}

@media screen and (max-width: 1050px) {
    html{
        font-size: 70%;
    }
    .my-img{
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 680px) {
    .home-section{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 40px;
    }
    .my-img{
        width: 350px;
        height: 350px;
    }
    
}
@media screen and (max-width: 380px) {
    .my-img{
        width: 300px;
        height: 300px;
    }
    
}

/* home page end------------------------------------------- */

/* about page-------------------------------- */

.about-section{
    width: 90%;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: sans-serif;
    column-gap: 10px;
}
.about-section h1{
    margin-bottom: 50px;
    font-size: 3rem;
    background: linear-gradient(to right, #fc72ff, #8f68ff, #487bff, #8f68ff, #fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text 5s linear infinite;
    text-shadow: 0px 0px 20px rgb(253, 16, 253);
}
.about-section h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
.about-section p{
    font-size: 1.2rem;
    color: #cccccca9;
}


.about-section #show-more{
    margin-top: 40px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: rgb(200, 82, 255);
    color: #ffffff;
    outline: none;
    font-size: 20px;
    box-shadow: 0px 0px 20px rgb(200, 82, 255);
    cursor: pointer;
    transition: 0.5s;
    font-weight: 700;
}
#show-more:hover{
    transform: scale(1.1);
    box-shadow: -10px 5px 15px rgba(200, 82, 255, 0.534);
}
#show-more:active{
    transform: scale(1.0);
    background: rgb(174, 0, 255);
    transition: 0s;
}

.show-text{
    position: fixed;
    top: 0;
    right: 50%;
    transform: translate(50%,50%);
    margin: 0 auto;
    width: 80%;
    height: 500px;
    background: rgba(82, 81, 81, 0.308);
    backdrop-filter: blur(20px);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition-delay: 3s;
}
.show-text p{
    width: 80%;
    color: #e7e7e7c4;
    font-size: 1.4rem;
}
#close-text{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
#close-text img{
    width: 100%;
    height: 100%;
}
.show-text-active{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media screen and (max-width: 940px) {
    .about-section{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .my-img2{
        margin-top: 30px;
    }
}
/* about page end-------------------------------- */